<div class="jumbotron mt-4 p-4 bg-success">
    <h1 class="display-4">Project Final Coderhouse </h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius.</p>
    <hr class="my-4">
    <a href="/products" class="btn btn-dark">Products</a>
    <a href="/carts" class="btn btn-dark">Carts</a>
</div>